:root {
  --primary-gray: #ffffff;
  --main-border-radius: 3px;
  --shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  color: #292f33;
  background-image: url('./images/kladd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-g {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
  text-align: center;

  margin: 10px;
  padding: 7px 20px;
  transition: 1s;
  background-size: 200% auto;
  color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.card-g:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  border-radius: var(--main-border-radius);
  box-shadow: var(--shadow);
}

.container {
  box-shadow: var(--shadow);
}

.empty-message {
  background-color: var(--primary-gray);
}

.gridparent {
  display: flex;
  flex-direction: row;
}

.child {
  flex: 1;
}

.login-btn {
  padding: 5px 20px;
  border-radius: 3px;
}

.navbar {
  background-color: var(--primary-gray);
  border-radius: var(--main-border-radius);
  box-shadow: var(--shadow);
}

.navbar button:hover {
  background-color: #17a2b8;
}

.card {
  font-size: small;
  background: white;
  display: inline-block;
  margin-right: 2em;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 18rem;
  box-shadow: var(--shadow);
}

.toggle {
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}

/*Inline settings and toggle*/
.event-type {
  font-size: 15px;
  display: inline-block;
  margin-right: 5rem;
  width: 20rem;
}

.thumb {
  display: inline-block;
  width: 5rem;
}

.page {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.page-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
}

.page-title {
  /* background: linear-gradient(to right, #77a1d3 0%, #79cbca 51%, #77a1d3 100%); */
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: 800; */
  font-size: 40px;
  text-shadow: 2px 2px 0px rgba(57, 84, 207, 0.171);
}

.avatar {
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
}

.tag {
  color: var(--primary-red);
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--primary-red);
  border-radius: var(--main-border-radius);
  margin-right: 10px;
  margin-bottom: 10px;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
.footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
}
@media screen and (max-width: 900px) {
  .jumbotron {
    position: fixed;
    background: rgba(255, 255, 255, 0.918) !important;
    box-shadow: none;
  }
  .page {
    width: 100%;
  }
  .page-info {
    display: block;
  }
}
