:root {
    --primary-gray: #ffffff;
    --main-border-radius: 2px; 
    --shadow: 2px 1px 4px 1px rgba(0,0,0,0.2);

}

body {
    font-family: 'Nunito';
    -webkit-font-smoothing: antialiased;
    color: #292f33;
    background-image: url('./images/kladd.jpg');
    /* background-image: url('./images/lightmarble.jpg'); */
    background-repeat: no-repeat, repeat;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: break-word;
}

.card-g {
    background: white;
    border-radius: var(--main-border-radius);
    display: inline-block;
    margin-right: 2em;
    margin-top: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px, rgba(0, 0, 0, 0.22);
    transition: all ease-in-out 0.6s;
}

.card-g:hover {
    transform: translateY(-10px);
}

.jumbotron {
    background-color: #f8f8f8;
    /* opacity: 0.90; */
    border-radius: var(--main-border-radius);
}

.container {
  box-shadow: var(--shadow);
  /* background-color: var(--primary-gray); */
}

.empty-message {
  background-color: var(--primary-gray);
}


.gridparent {
    display: flex;
    flex-direction: row;
}

.child {
    flex: 1;
}

.login-btn {
    padding: 5px 20px;
    border-radius: 3px;
}

.navbar {
    background-color: var(--primary-gray);
    border-radius: var(--main-border-radius);
    box-shadow: var(--shadow);

}

.navbar a:hover {
    background-color: #17a2b8;
}

.card {
    font-size: small;
    background: white;
    border-radius: 2px;
    display: inline-block;
    margin-right: 2em;
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 18rem;
    box-shadow: var(--shadow);
}

.toggle {
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}

/*Inline settings and toggle*/
.element1 {
  font-size: 15px;
  display:inline-block;
  margin-right:5rem; 
  width:20rem;
} 

.element2 {
  display:inline-block; 
  width:5rem; 
} 

.page {
    width: 50%;
    margin: 0 auto;
}

.page-title {
    font-weight: 400;
    font-size: 35px;
}

/*Mac window style*/
.window {
    width: 80%;
    margin: 0 auto;
    background: white;
    border-radius: var(--main-border-radius);
}
.title-bar {
    background-color: white;
    border-top-right-radius: var(--main-border-radius);
    border-top-left-radius: var(--main-border-radius);
    color: #4d494d;
    padding-top: 5px;
    padding-bottom: 5px;
}
.buttons {
    float: left;
    padding-left: 8px;
    padding-top: 3px;
    line-height: 0;
}
.mac-btn {
    font-size: 9px;
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: var(--main-border-radius);
}
.content {
  background-color: #EEEEEE;
  padding: 20px 10px;
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
}
/*END: Mac window style*/


img {
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
    width: 18rem;
}

.tag {
    color: var(--primary-red);
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--primary-red);
    border-radius: var(--main-border-radius);
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer {
    padding: 10px;
    border: 1px solid #d4d7dd;
    background-color: #eae9e9;
    color: #45454d;
}